<section class="answer">
  <div class="answer-section answer-text">
    <header>
      <h2><%= answer_contextual_title(context) %></h2>
      <hr>
    </header>
    <fieldset>
      <%= form.label :value %>
      <%= form.text_area :value %>
    </fieldset>
  </div>

  <div class="answer-section answer-outcome-type">
    <h3>Answer: Outcome</h3>
      <select class="form-input-full-width" id="" name="">
        <option value="">Conclusion</option>
        <option value="">Link to another question</option>
      </select>
  </div>

  <div class="answer-section answer-outcome answer-outcome-conclusion">
    <h3>Answer: Conclusion</h3>
    <textarea></textarea>
  </div>

  <div class="answer-section answer-outcome answer-outcome-link">
    <h3>Answer: Link to another question</h3>
    <% if context == "create" %>
      <%= contextual_outcome_dropdown context %>
    <% else %>
      <%= contextual_outcome_dropdown(context, outcome) %>
    <% end %>
    </div>
</section>
