<header>
  <h1>Edit question</h1>
</header>

<hr>

<section class="question">
  <%= form_for @question.becomes(Question), url: question_path(@question), method: :patch do |question_form| %>
    <fieldset id="question-type-radios">
      <label for="question-type-radios">Question type</label>
      <% question_type_radio_group(@question) %>
    </fieldset>

    <fieldset>
      <%= question_form.label(:text, "Question text", class: "label-hinted") %>
      <span class="form-hint">(max. 140 characters)</span>
      <%= question_form.text_area :text  %>
    </fieldset>

    <section class="answer-container">
        <%= question_form.fields_for :outcomes, method: :patch do |outcome_form| %>
          <%= render 'outcome', context: 'update', form: outcome_form %>
        <% end %>
    </section>

    <%= question_form.submit "Update question", class: "button-giant" %>
  <% end %>

  <section class="answer-container">
    <%= form_for @question.becomes(Question), url: question_path(@question), method: :patch do |question_form| %>
      <%= question_form.fields_for :outcomes, @question.outcomes.build do |outcome_form| %>
        <%= render 'outcome', form: outcome_form, context: 'create' %>
      <% end %>
      <%= question_form.submit "Add answer", class: "button-giant" %>
    <% end %>
  </section>
</section>
