<header class="pull-left">
  <h1>Questions</h1>
  <h2>Total questions: <span><%= @questions.count %></span></h2>
</header>

<aside class="pull-right">
  <%= link_to "Add a new question", new_question_path, class: "button" %>
</aside>

<hr class="clearfix">

<table>
  <tr>
    <th>Question Name</th>
    <th>Question</th>
    <th>Type</th>
    <th>Actions</th>
    <th></th>
    <th>Linked questions</th>
  </tr>
  <% @questions.each do |question| %>
    <tr id="question-<%= question.id %>">
      <td class="">
        <%= question.name %>
      </td>
      <td>
        <%= question.text %>
      </td>
      <% if question.type.present? %>
        <td>
          <%= question.type.titleize %>
        </td>
      <% end %>
      <td>
        <%= link_to "Edit question",
                    edit_question_path(question),
                    class: "button",
                    id: "edit-question-#{question.id}" %>
      </td>
      <td>
        <% if question != @questions.first %>
          <%= form_for question, url: question_archive_path(question),
                       method: "patch" do |question_form| %>
            <%= question_form.submit "Archive",
                id: "archive-question-#{question.id}",
                class: "button-secondary",
                data: { confirm: "Are you sure you want to archive this question?" }
            %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if linked_questions(question).empty? %>
            <p class="warning">No linked questions</p>
        <% else linked_questions(question).each do |linked_question| %>
            <div><a href="#question-<%= question.id %>"><%= linked_question %></a></div>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<hr class="clearfix">

<div class="pull-left">
  <h1>Answers</h1>
  <h2>Total answers from all responders: <span><%= @answers.count %></span></h2>
  <%= link_to 'Download answers as CSV', questions_path(format: :csv),
      class: "button"%>
</div>
