<header>
  <h1>Create a new question</h1>
</header>

<hr>

<section class="question">
  <%= form_for :question, url: questions_path do |question| %>
    <fieldset id="question-type-radios">
      <label for="question-type-radios">Question type</label>
      <% question_type_radio_group(@question) %>
    </fieldset>

    <fieldset>
      <%= question.label(:tag, "Question name", class: "label-hinted") %>
      <%= question.text_field :tag, value: @question.name %>
    </fieldset>

    <fieldset>
      <%= question.label(:text, "Question text", class: "label-hinted") %>
      <%= question.text_area :text  %>
    </fieldset>

    <%= question.submit %>
  <% end %>
</section>
