<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" %>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "refills/navigation" %>
  <%= render "flashes" -%>

  <main role="main">
    <%= yield %>
  </main>

  <%= render "javascript" %>
  <%= render "css_overrides" %>
  <%= render "refills/footer_2" %>
</body>
</html>
